@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#canvas {
    position: fixed;
    z-index: -1;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Start animation for text censor effect */
@keyframes censor-effect-start {
    0% {
        background-size: 0 1.2em;
        background-position: left;
    }
    90% {
        background-size: 100% 1.2em;
        background-position: left;
    }
    100% {
        background-size: 100% 1.2em;
        background-position: right;
    }
}

/* End animation for text censor effect */
@keyframes censor-effect-end {
    0% {
        background-size: 100% 1.2em;
        background-position: right;
    }
    90% {
        background-size: 0 1.2em;
        background-position: right;
    }
    100% {
        background-size: 0 1.2em;
        background-position: left;
    }
}

.censor {
    text-decoration: none;
    background: linear-gradient(white, white) bottom / 0 1em no-repeat;
    background-position: left bottom;
}

.censor-animate-start {
    animation: censor-effect-start 0.5s;
}

.censor-animate-end {
    animation: censor-effect-end 0.5s;
}

.censored {
    background-size: 100% 1.2em;
    background-position: right;
}

.underline {
    text-decoration: none;
    background: linear-gradient(white, white) bottom / 0 0.1em no-repeat;
    transition: background-size 0.5s;
    background-position: left bottom;
}

.underline:hover {
    background-size: 100% .1em;
}

.enlarge {
    transition: transform 0.5s;
    transform-origin: center;
}

.enlarge:hover {
    transform: scale(1.3);
}

